# Prerequisites
*.d

*.vscode
*.vs
*.vcxproj.

Debug

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.vcxproj
ProjectSource/CompilerStarter/Compiler/Compiler.vcxproj
ProjectSource/CompilerStarter/Compiler/Compiler.vcxproj.filters
ProjectSource/CompilerStarter/Compiler/Compiler.vcxproj.user
